@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./mainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a#github_link {
    text-decoration: none;
    color: rgb(0, 0, 255);
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 5px;
    padding: 8px;
}